/* home.css */

.home-container {
  padding: 64px;
  padding-left: 240px;
}

.home-header {
  padding: 0 64px;
  font-weight: bolder;
}

.greeting {
  font-family: 'Caveat';
  font-size: 26px;
  font-weight: bold;
}

.intro {
  font-size: 46px;
}

.title {
  margin-left: 64px;
  padding-top: 24px;
  border-top: 0.5px solid #a0a5ac;
  width: calc(100% - 64px);
  padding-right: 0;
  margin-top: 82px;
  font-family: "Space Grotesk", sans-serif;
  color: #a0a5ac;
  font-weight: 500;
  margin-bottom: 48px;
}

.home-projects {
  padding: 0 64px;
}

.projects-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

.project-card img{
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-card img:hover{
  box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.10);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transform: scale(1.005);
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 45%;
}

.projects-display img {
  width: 460px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #333;
}

.projects-display h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
}

.projects-display h2 {
  color: #67686F;
}

.home-desktop {
  margin-top: 120px;
}

.desktop-title {
  font-size: 36px;
}

.desktop-images {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding-bottom: 10px;
}



.photographs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 64px;
  gap: 64px;
}

.photographs img {
aspect-ratio: 1 / 1;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .home-container {
    padding: 16px;
    padding-left: 32px;
    margin-top: 100px;
  }

  .home-header {
    padding: 0 16px;
    font-weight: bolder;
  }
  
  .greeting {
    font-family: 'Caveat';
    font-size: 18px;
    font-weight: bold;
  }
  

  .home-projects{
    padding: 0 16px;
  }

  .title {
    margin-left: 32px;
    width: calc(100% - 32px);
  }

  .projects-display {
    gap: 40px;
  }

  .project-card {
    width: 100%;
  }

  .projects-display img {
    width: 100%; 
    height: auto;
  }

  .desktop-images {
    flex-wrap: wrap;
    gap: 16px;
  }

  .desktop-images img {
    width: calc(33.333% - 10px); /* Adjust as necessary */
  }

  .photographs img {
    width: calc(50% - 32px); /* Adjust as necessary */
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 16px;
    padding-left: 16px;
  }

  .title {
    margin-left: 16px;
    width: calc(100% - 16px);
    margin-top: 0;
  }

  .projects-display {
    gap: 60px;
  }
  .projects-display h1 {
    font-size: 18px;
    margin-top: 16px;
  }
  
  .projects-display h2 {
    color: #67686F;
    font-size: 13px;
  }
  

  .desktop-images img {
    width: calc(50% - 10px); /* Adjust as necessary */
  }

  .photographs img {
    width: 100%; /* Adjust as necessary */
  }
}

@media (max-width: 480px) {
  .intro {
    font-size: 24px;
  }

  .desktop-title {
    font-size: 20px;
  }
  .home-desktop {
    margin-top: 64px;
  }
  .desktop-images{
    margin-top: 32px;
    gap: 50px;
    justify-content: start;
    row-gap: 35px;
  }

  .desktop-images img {
    width: 11%; /* Adjust as necessary */
  }
}
