.navbar {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
}

.nav-left a {
  color: #333;
  font-family: Caveat;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-right a {
  margin-left: 64px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #333;
  position: relative;
  transition: 0.4s ease, transform 0.3s ease;
}
.nav-right{
  display: flex;
  align-items: center;
}

.nav-right a:hover::after{
  content: '';
  border: .1px solid black;
  width: 100%;
  position: absolute;
  top: 23px;
  right: 0%;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar{
    padding: 40px 0;
  }

  .nav-left a{
    font-size: 28px;
    font-weight: 600;
  }

  .nav-right a{
    margin-left: 20px;
    font-size: 12px;
  }
}