/* portfolio.css */

.portfolio-container {
    padding: 64px;
    padding-left: 240px;
  }
  
  .portfolio-header {
    padding: 0 64px;
  }
  
  .work-title {
    font-family: 'Caveat';
    font-size: 26px;
    font-weight: bolder;
  }
  
  .intro {
    font-size: 46px;
    font-weight: bold;
  }
  
  .title {
    margin-left: 64px;
    padding-top: 24px;
    border-top: 0.5px solid #a0a5ac;
    width: calc(100% - 64px);
    padding-right: 0;
    margin-top: 82px;
    font-family: "Space Grotesk", sans-serif;
    color: #a0a5ac;
    font-weight: 500;
    margin-bottom: 48px;
  }
  
  .portfolio-projects {
    padding: 0 64px;
  }
  
  .projects-tag {
    margin-bottom: 64px;
    font-size: 15px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .portfolio-tags {
    padding: 8px 24px;
    border-radius: 24px;
    border: 0.5px solid #333;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .portfolio-tags:hover {
    background-color: #333;
    transform: translateY(-4px);
    font-weight: 500;
    color: white;
  }

  .project-card img{
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .project-card img:hover{
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.10);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transform: scale(1.005);
  }
  
  .projects-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 45%;
  }
  
  .projects-display img {
    width: 460px;
    height: 257px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
   
  }
  
  .projects-display h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
  }
  
  .projects-display h2 {
    color: #67686F;
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .portfolio-container {
        padding: 16px;
        padding-left: 32px;
        margin-top: 100px;
    }
    .portfolio-header {
        padding: 0 16px;
        
      }
      .work-title {
        font-family: 'Caveat';
        font-size: 18px;
        font-weight: bold;
      }
      
  
    .title {
      margin-left: 32px;
      width: calc(100% - 32px);
    }

    .portfolio-projects{
        padding: 0 16px;
      }
  
    .projects-display {
      gap: 40px;
    }
  
    .project-card {
      width: 100%;
    }
  
    .projects-display img {
      width: 100%; /* Make images responsive */
      height: auto;
    }
  
    .portfolio-tags {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .portfolio-container {
      padding: 16px;
      padding-left: 16px;
    }

    
  
    .title {
      margin-left: 16px;
      width: calc(100% - 16px);
      margin-top: 0;
    }
  
    .projects-display {
      gap: 60px;
    }
    .projects-display h1 {
        font-size: 18px;
        margin-top: 16px;
      }
      
      .projects-display h2 {
        color: #67686F;
        font-size: 13px;
      }
  
    .portfolio-tags {
      padding: 8px 12px;
    }
  
    .projects-display img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .intro {
      font-size: 24px;
      line-height: 40px;
      font-weight: 700;
    }


    .projects-display img {
      width: 100%;
      height: auto;
    }

    .title {
        margin-left: 16px;
        width: calc(100% - 16px);
        margin-top: 36px;
        font-size: 14px;
        margin-bottom: 30px;
      }
  
    .portfolio-tags {       
        padding: 8px 16px;
        font-size: 11px;
        
    }
    .projects-tag{
        gap: .75rem;
        margin-right: 0;     
        flex-wrap: nowrap;
        overflow: scroll; 
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }
.projects-tag::-webkit-scrollbar {
  display: none;
}
.portfolio-tags:hover {
  transform: translateY(0px);
}


 
  }
  